<div>
    Hello!
</div>
<div>
    Hello!
</div>
<div>
    Hello!
</div>

<style>

    div{
        width: 200px;
        height: 90px;
        border: 2px solid blue;
        margin: 10px;
        padding: 4px;
        outline: 1px dashed grey;
    }

    body{
        margin:0;
    }

</style>