<div>
    <h3>title</h3>
    <img src="dog.jpg" alt="this is a dog">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quod quae sint, aperiam eius a laboriosam consequatur exercitationem error ipsa? Expedita eum ullam corporis possimus accusamus necessitatibus quaerat ex nulla?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quod quae sint, aperiam eius a laboriosam consequatur exercitationem error ipsa? Expedita eum ullam corporis possimus accusamus necessitatibus quaerat ex nulla?
</div>
<div>
    <h3>title</h3>
    <img src="dog.jpg" alt="this is a dog" class=right >
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quod quae sint, aperiam eius a laboriosam consequatur exercitationem error ipsa? Expedita eum ullam corporis possimus accusamus necessitatibus quaerat ex nulla?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quod quae sint, aperiam eius a laboriosam consequatur exercitationem error ipsa? Expedita eum ullam corporis possimus accusamus necessitatibus quaerat ex nulla?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quod quae sint, aperiam eius a laboriosam consequatur exercitationem error ipsa? Expedita eum ullam corporis possimus accusamus necessitatibus quaerat ex nulla?
</div>
<div>
    <h3>title</h3>
    <img src="dog.jpg" alt="this is a dog">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quod quae sint, aperiam eius a laboriosam consequatur exercitationem error ipsa? Expedita eum ullam corporis possimus accusamus necessitatibus quaerat ex nulla?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quod quae sint, aperiam eius a laboriosam consequatur exercitationem error ipsa? Expedita eum ullam corporis possimus accusamus necessitatibus quaerat ex nulla?
</div>

<style>
    div{
        width: 540px;
        border: 1px grey solid;
    }
    img{
        width: 300px;
        margin: 15px;
        float: left;
    }
    img.right{
        float: right;
    }
</style>