.ball{
    width: 100px;
    height: 100px;
    border-radius: 500000px;
    background: red;
    /* left: 100px;
    top: 100px; */
    z-index: 4;
    position: absolute;
}

html{
    cursor: url('circle-small.svg') 10 10, auto;
    /* cursor: crosshair; */
}

a {
    cursor: url('circle.svg') 10 10, auto;
}

.box{
    width: 100px;
    height: 100px;
    background: yellow;
    position: relative;
}

.first.box{
    top: 20px;
    left: -30px;
    z-index: 3;
    float: left;
}

.bar{
    position: fixed;
    background: grey;
    top: 10px;

    width: 100%;
    height: 30px;
    z-index: 10000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

.green{
    background: green;
}

.green.ball{
    /* left: 100px;
    top: 100px; */
    bottom: 50px;
    right: 50px;
    z-index: 3;
}

.bigbox{
    background: grey;
    width: 800px;
    height: 600px;
    position: relative;
    float: left;
}



.anim{
    width: 30px;
    height: 150px;
    background: black;
    display: inline-block;
    transition: 2s all;
}

.hoverdetector{
    margin-left: 80px;
    /* background: blue; */
    display: inline-block;
}

.hoverdetector.open .anim{
    transform: rotate(45deg);
    background: blue;
}

.hoverdetector.open .anim + .anim{
    transform: translate(-30px) rotate(-45deg);

}